
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Righteous&display=swap');


body{
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

.cabecalho{
    display: flex;
    justify-content: space-around;
    color: #FFF2E7;
    align-items: center;
    padding: 10px
} 

.cabecalho-imagem{
    height: 72px;
}

.cabecalho-menu{
    display: flex;
    gap: 40px;
    font-size: 18px;
    
}
.cabecalho-menu-itens{
    text-decoration: none;
    color: #ECD6C4;

}
.cabecalho-menu-itens:hover{
    color: rgb(142, 140, 140);
}

.conteudo{
    margin-bottom: 48px;
    border-top: 0.1px solid #FFF2E7;
    
}


.conteudo-principal{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.conteudo-principal-escrito{
    display: flex;
    gap: 32px;
}

.conteudo-principal h1{
    font-weight: 400;
    font-size: 64px;
    color: #FFF2E7;
    font-family: 'Righteous', cursive;
}

.conteudo-principal p{
    font-weight: 400;
    font-size: 24px;
    color: #ECD6C4;
    font-family: 'Sarala', sans-serif;
}

.conteudo-principal button{
    background-color: bisque;
    border: none;
    padding: 15px;
    width: 185px;
    height: 67px;
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-size: 18px;
    font-weight: 400;
    box-shadow: 4px 5px 4px rgb(58, 57, 57);
  
}

.conteudo-principal button:hover{
    background-color: rgb(142, 140, 140);
    transition: 100ms;
}

.conteudo-principal-imagem{
    height: 420px;
}

.conteudo-secundario{
    text-align: center;
    color: #ECD6C4;
    margin-top: 46px;
    gap: 28px;
}

.conteudo-secundario-titulo{
    display: inline-block;
    padding-top: 48px;
    border-top: 0.1px solid #FFF2E7;
    font-weight: 400;
    font-size: 24px;
    font-family: 'Righteous', cursive;
}

.conteudo-secundario p{
    font-weight: 400;
    font-size: 18px;
    font-family: 'Sarala', sans-serif;
}

.rodape{
    border-top: 0.1px solid #FFF2E7;
}

.rodape-imagem{
    height: 48px;
    padding: 48px;
    display: block;
    margin: 0 auto;
}